@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(2 6 23); /* bg-slate-950 */
  color: rgb(241 245 249); /* text-slate-100 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}
